<p>see-book-car works!</p>
<button type="submit"class="btn btn-primary mx-3" (click)="GoBack()">Back</button>
<div class="table-container">
    <table>
      <thead>
       
        <tr>
          <th>UserName</th>
          <th>ModelName</th>
          <th>To</th>
          <th >From</th>
          <th>Price</th>
          <th>TotalRent</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of  bookedCars">
         
          <td>{{ product.userName }}</td>
          <td>{{ product.modelName }}</td>
          <td>{{ product.to }}</td>
          <td>{{product.from}}</td>
          <td>{{product.price}}</td>
          <td>{{product.totalRent}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  